<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h3>Sign Up Form</h3>
</div>
<div>
    <form action="/account/sign-up" method="post">
        <label>
            <input type="email" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="nickname" name="nickname">
            <input type="text" placeholder="phoneNumber" name="phoneNumber">
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
